In [1]:
from pydemic.all import *

In [2]:
br = mundi.region('BR')
br.pydemic.epidemic_curve()

              cases  deaths
date
2020-03-31      671       0
2020-04-01     1801       0
2020-04-02     3006       0
2020-04-03     4160       0
2020-04-04     5310       0
...             ...     ...
2020-07-24  2314710   84643
2020-07-25  2357141   85622
2020-07-26  2383378   86221
2020-07-27  2408020   86798
2020-07-28  2433506   87327

[120 rows x 2 columns]